.Home {
    display: flex;
    flex: 1;
    margin-top: 60px;
    flex-direction: column;
    background-color: #f4f4f4;
}

.recent {
    flex: 1;
    text-transform: uppercase;
    padding: 20px;
}

.title {
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
}

.list-image {
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
}

.story {
    margin: 10px 0px;
    background-color: #fff;
    padding: 10px;
    text-transform: lowercase;
    width: 30%;
    height: 400px;
}

.story-photo {
    width: 100%;
    height: 100%;
}

.head-back {
    width: 100%;
    height: auto;
}